.fl-field-control .zestsms-save-field-as-button {
    color: #aaa;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: inline-flex;
    font-size: 15px;
    justify-content: center;
    width: 25px;
    align-items: center;
    cursor: pointer;
    /*display: none;*/
}
.fl-field-control .zestsms-save-field-as-button:hover {
    color: #999;
}
.fl-field[data-type="photo"] .fl-field-control :not(.fl-photo-empty) .zestsms-save-field-as-button-edit {
    padding-top: 25px;
}
.fl-field[data-type="link"] .fl-field-control .zestsms-save-field-as-button {
    top: 13px;
    bottom: auto;
    right: 68px;
}
.fl-field[data-type="link"] .fl-field-control .zestsms-edit-save-field-as-button {
    right: 93px;
}
.fl-field-control .zestsms-edit-save-field-as-button {
    right: 25px;
}
.fl-field-control .zestsms-trash-save-field-as-button {
    right: -25px !important;
}
.fl-field-control .zestsms-save-field-as-controls[data-saved="true"] ~ input,
.fl-field-control .zestsms-save-field-as-controls[data-saved="true"] ~ .fl-photo-field {
    background: #beffbe !important;
}
.fl-field-control .zestsms-save-field-as-controls[data-saved="true"] ~ input,
.fl-field-control .zestsms-save-field-as-controls[data-saved="true"] ~ textarea {
    padding-right: 55px;
}
.fl-field-control .zestsms-save-field-as-controls[data-saved="false"] ~ input,
.fl-field-control .zestsms-save-field-as-controls[data-saved="false"] ~ textarea {
    padding-right: 25px;
}

.fl-field-control .zestsms-save-field-as-controls[data-saved="false"] .zestsms-save-field-as-button-edit,
.fl-field-control .zestsms-save-field-as-controls[data-saved="true"] .zestsms-save-field-as-button-add,
.fl-field-control .zestsms-save-field-as-controls[data-saved="true"] ~ .fl-field-connections-toggle {
    display: none !important;
}